<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ book.title }}</title>
    </head>
    <body>
        <h1>{{ book.title }}</h1>
        <p>부제: {{ book.subtitle }}</p>
        <p>저자: {{ book.author }}</p>
        <p>상태: {{ book.status }}</p>
        <p>메모: {{ book.memo }}</p>
        <a href="{{ uri_for('book_bp.edit_book', book_id=book.id) }}">수정</a>

        <form action="{{ uri_for('book_bp.delete_book', book_id=book.id) }}" method="POST">
            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
        </form>
        
        <a href="{{ uri_for('book_bp.list_books') }}">목록으로</a>
    </body>
</html>