<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reading Log</title>
    </head>
    <body>
        <h1>책 목록</h1>
        <a href="{{ uri_for('bookbp.create_book') }}">새 책 등록</a>
        <ul>
            {% for b in books %}
                <li>
                    <a href="{{ uri_for('bookbp.get_book', book_id=b.id) }}">
                        {{ b.title }} ({{ b.author }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
